<form id="paypalForm" name="myForm"  ng-submit="vm.setOrder($event)" action="https://www.paypal.com/cgi-bin/webscr" method="post">				
  <div class="container">
    <div class="row">      
      <div class="col-sm-12">


        <h1>Koszyk</h1>

		<div ng-if="vm.alert" class="alert alert-{{vm.alert.type}}">{{vm.alert.msg}}</div>
		<div ng-if="!vm.cart.getCart().length && vm.alert.type!='success'" class="alert alert-info">Koszyk jest pusty...</div>

		<div ng-if="vm.cart.getCart().length">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nazwa</th>
						<th>Waga</th>
						<th>Ilość</th>
						<th>Cena</th>
						<th>Razem</th>
						<th>Usuń</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in vm.cart.getCart()">
						<td>{{item.name}}</td>
						<td>{{item.weight}}</td>
						<td>
							<div class="form-group" ng-class="{'has-error' : myForm.input{{$index}}.$error.required || myForm.input{{$index}}.$error.max || myForm.input{{$index}}.$error.min || myForm.input{{$index}}.$error.number }">					
								<input ng-change="vm.update()" class="form-control" name="input{{$index}}" style="width:80px;" type="number" ng-model="item.qty" min="1" max="20" required>
							</div>
							<span class="text-danger" ng-show="myForm.input{{$index}}.$error.required">Podaj ilość.</span>
							<span class="text-danger" ng-show="myForm.input{{$index}}.$error.number">Tylko cyfry.</span>
							<span class="text-danger" ng-show="myForm.input{{$index}}.$error.max">Brak na stanie.</span>
							<span class="text-danger" ng-show="myForm.input{{$index}}.$error.min">Serio?!</span>
						</td>
						<td>{{item.price}} zł</td>
						<td><strong>{{item.price*item.qty | number:2}} zł</strong></td>
						<td><button class="btn btn-danger btn-xs" ng-click="vm.cart.removeItem($index)"><span class="glyphicon glyphicon-remove"></span></button></td>
					</tr>
					<tr>
						<td colspan="4"></td>
						<td class="text-right"><strong>Do zapłaty:</strong></td>
						<td><strong>{{vm.cart.total() | number:2}} zł</strong></td>
					</tr>
				</tbody>
			</table>

			<input type="hidden" name="cmd" value="_cart">
			<input type="hidden" name="upload" value="1">
			<input type="hidden" name="business" value="seller@dezignerfotos.com"> <!-- twoje konto w paypal -->
			<input type="hidden" name="charset" value="utf-8">
			<input type="hidden" name="currency_code" value="PLN">

			<div ng-repeat="item in vm.cart.getCart()">
				<input type="hidden" name="item_name_{{$index+1}}" value="{{item.name}}">
				<input type="hidden" name="quantity_{{$index+1}}" value="{{item.qty}}">
				<input type="hidden" name="amount_{{$index+1}}" value="{{item.price}}">
			</div>

        	<button ng-click="vm.cart.clearCart()" class="btn btn-danger">Wyczyść koszyk</button>
			<button class="btn btn-primary pull-right" type="submit" value="PayPal" ng-disabled="!myForm.$valid">Zapłać</button>
			
		</div>

      </div>  
    </div>
  </div>
</form>