<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">ngShop</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li ng-class="{ active : vm.isActive( '/admin/users' ) }"><a href="#/admin/users">Użytkownicy</a></li>
              <li ng-class="{ active : vm.isActive( '/admin/products' ) }"><a href="#/admin/products">Produkty</a></li>
              <li ng-class="{ active : vm.isActive( '/admin/orders' ) }"><a href="#/admin/orders">Zamówienia</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-class="{ active : vm.isActive( '/admin/login' ) }"><a href="#/logout">Wyloguj się</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>
  </div>
</div>