<form ng-submit="vm.formSumbit()">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 center-block">
				<div class="panel panel-default">					
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Logowanie:</strong></h3>
					</div>					
					<div class="panel-body">
						<div ng-if="vm.errors.login" class="alert alert-danger">{{vm.errors.login}}</div>
						<div class="form-group"  ng-class="{'has-error' : vm.errors.login}" >
							<label>Email</label>
							<input type="text"class="form-control" ng-model="vm.input.email" placeholder="Twój adres email">
						</div>
						<div class="form-group"  ng-class="{'has-error' : vm.errors.login}" >
							<label>Hasło</label>
							<input type="password" class="form-control" ng-model="vm.input.password" placeholder="Twoje hasło">
						</div>
						<p>&nbsp;</p>
						<button class="btn btn-primary btn-block"> Zaloguj się</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>