<form ng-submit="vm.formSubmit()">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 center-block">
				<div class="panel panel-default">					
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Rejestracja:</strong></h3>
					</div>					
					<div class="panel-body">
						<div ng-if="vm.errors.login" class="alert alert-danger">{{vm.errors.login}}</div>
						<div class="form-group"  ng-class="{'has-error' : vm.errors.name, 'has-success' : !vm.errors.name && vm.submit}" >
							<label>Imie</label>
							<input type="text"class="form-control" ng-model="vm.input.name" placeholder="Twoje imie">
							<span class="text-danger">{{vm.errors.name}}</span>
						</div>
						<div class="form-group"  ng-class="{'has-error' : vm.errors.email, 'has-success' : !vm.errors.email && vm.submit}" >
							<label>Email</label>
							<input type="text"class="form-control" ng-model="vm.input.email" placeholder="Twój adres email">
							<span class="text-danger">{{vm.errors.email}}</span>
						</div>						
						<div class="form-group"  ng-class="{'has-error' : vm.errors.password, 'has-success' : !vm.errors.password && vm.submit}" >
							<label>Hasło</label>
							<input type="password" class="form-control" ng-model="vm.input.password" placeholder="Twoje hasło">
							<span class="text-danger">{{vm.errors.password}}</span>
						</div>				
						<div class="form-group"  ng-class="{'has-error' : vm.errors.passconf, 'has-success' : !vm.errors.passconf && vm.submit}" >
							<label>Powtórz hasło</label>
							<input type="password" class="form-control" ng-model="vm.input.passconf" placeholder="Powtórz hasło">
							<span class="text-danger">{{vm.errors.password}}</span>
						</div>
						<p>&nbsp;</p>
						<button class="btn btn-primary btn-block">Zarejestruj się</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>