<form ng-submit="vm.saveChanges(vm.product)">

  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Nazwa produktu</label>
          <input type="text" class="form-control" ng-model="vm.product.name">
        </div>
        <div class="form-group">
          <label>Waga:</label>
          <input type="text" class="form-control" ng-model="vm.product.weight">
        </div>
        <div class="form-group">
          <label>Opis</label>
          <textarea rows="5" class="form-control" ng-model="vm.product.desc"></textarea>
        </div>
        <div class="form-group">
          <label>Cena</label>
          <input type="text" class="form-control" ng-model="vm.product.price">
        </div>
      </div>

      <div class="col-sm-6">
        <h2>{{vm.product.name}}</h2>
        <p>Waga: {{vm.product.weight}}</p>
        <p>{{vm.product.desc}}</p>
        <h3><span class="label label-warning">
          {{vm.product.price | number:2}} zł
        </span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <hr>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        <a href="#/admin/products" class="btn btn-default">Wróć bez zmian</a>
        <p>&nbsp;</p>
      </div>
    </div>
    
  </div>

</form>