<div class="container">
  
  <div class="row">
    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
      <br>
    </div>
    <div class="col-xs-6">
      <a href="#/admin/product/create" class="btn btn-success pull-right">Nowy Produkt</a>      
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div ng-repeat="product in vm.products | filter : search">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>
              {{product.name}}
              <span class="label label-warning pull-right">{{product.price | number:2}} zł</span>
            </h2>
            <h3><span class="label label-info">Waga: {{product.weight}} kg</span></h3>
            <br>
            <p>{{product.desc}}</p>
            <a href="#/admin/product/edit/{{$index}}" class="btn btn-success">Edytuj</a>
            <button ng-click="vm.removeProduct( product , $index )" class="btn btn-danger pull-right">Usuń</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>  
      

