<form ng-submit="vm.createUser( vm.user )">

  <div class="container">
    <div class="row">

      <div class="col-sm-4 center-block">

        <div class="form-group">
          <label>Imię</label>
          <input type="text" class="form-control" ng-model="vm.user.name">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" class="form-control" ng-model="vm.user.email">
        </div>
        <div class="form-group">
          <label>Hasło</label>
          <input type="password" class="form-control" ng-model="vm.user.password">
        </div>
        <div class="form-group">
          <label>Powtórz hasło</label>
          <input type="password" class="form-control" ng-model="vm.user.passconf">
        </div>
        <div class="form-group">
          <label>Rola</label>
          <select class="form-control" ng-model="vm.user.role">
            <option value="user">user</option>
            <option value="admin">admin</option>
          </select>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Dodaj użytkownika</button>
        <a href="#/admin/users" class="btn btn-default">Wróć bez zmian</a>
        <p>&nbsp;</p>      

      </div>

    </div>
  </div>

</form>