<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <h2>
            {{vm.product.name}}
            <span class="label label-warning pull-right">cena: {{vm.product.price | number:2}} zł</span>
          </h2>

          <h3><span class="label label-info">Waga: {{vm.product.weight}} kg</span></h3>
          <br>

          <p>{{vm.product.desc}}</p>
          <br>

          <button ng-click="vm.addToCart( vm.product )" class="btn btn-primary">Dodaj do koszyka</button>
          <a href="#/products" class="btn btn-default">Powrót</a>

        </div>
      </div>

    </div>
  </div>
</div>